@media (max-width: 1440px) {
  .img-container::after {
    content: "";
  }
  .img-container {
    background: none;
  }
  h1 {
    color: hsl(0, 0%, 100%);
  }
  span {
    color: hsl(0, 0%, 100%);
  }
}
@media (max-width: 720px) {
  main {
    width: 360px;
  }
  main::before {
    content: none;
  }
  main::after {
    content: none;
  }
  .Equilibrium {
    width: 360px;
  }
  h1 {
    font-size: 2rem;
  }
  .Equilibrium-description {
    font-size: 1.4rem;
  }
  .Etherem-text {
    font-size: 1rem;
  }
  .eth-img {
    font-size: 1.4rem;
  }
}
@media (max-width: 500px) {
  main {
    width: 300px;
  }
  .Equilibrium {
    width: 300px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .Equilibrium-description {
    font-size: 1rem;
  }
  .Etherem-text {
    font-size: 0.8rem;
  }
  .eth-img {
    font-size: 1rem;
  }
}
@media (max-width: 380px) {
  main {
    width: 256px;
  }
  .img-container {
    height: 14rem;
  }
  .Equilibrium {
    width: 14rem;
  }
  h1 {
    /* text-align: center; */
  }
  .Equilibrium-description {
    /* text-align: center; */
  }
  .eth-img {
    /* text-align: center; */
    font-size: 0.9rem;
  }
}
